<!-- Footer -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<footer>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Visit my Github account</h5>
        <p class="card-text">Visit my Github account to check the source code of this website</p>
        <a href="https://github.com/ZahidTekbas" class="btn btn-primary">Click</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Do you think to visit my blog?</h5>
        <p class="card-text">I write my stories in my blog. ( in Turkish )</p>
        <a href="http://zahidtekbas.com.tr" class="btn btn-primary">Click</a>
      </div>
    </div>
  </div>
</div>
</footer>
<!-- Footer -->